/* Add application styles & imports to this file! */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  font-family: 'Open Sans', serif;
  color: #333;
  margin: 20px;
}

h1 {
  text-align: center;
  font-size: 22px;
  color: #ccc;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
